<p class="helper_participacao">
    Preencha todas as suas participações nos grupos abaixo. Quando for o caso, digite o que foi sua participação (qual equipe, qual grupo, qual família, etc), de modo que seja possível a identificação pelos coordenadores.
</p>