<h1>Insira suas próprias informações</h1>

Essas informações serão confirmadas pelos coordenadores. Fornecer informações erradas pode acarretar em perda de acesso e exclusão do sistema. Seja o mais completo possível, pois você não poderá inserir essas informações novamente no futuro.

<p/>

<%= render 'pessoas/mobile/form_mobile', modo: "cadastrar_novo", texto_link: "Inserir" %>