<% grupos = pessoa.participacoes_em_grupos(tipo_participacoes) %>

<% if grupos.count > 0 %>
    <% grupos.each do |participacao| %>
      <li><span>
        <% coordenador = participacao[:grupo].coordenadores.include?(pessoa) ? ' (Coord.)' : '' %>

        <% if @usuario_logado.permissoes.pode_gerenciar_grupo participacao[:grupo] %>
            <%= link_to "#{participacao[:grupo].nome}#{coordenador}", participacao[:grupo] %>
        <% else %>
            <%= "#{participacao[:grupo].nome}#{coordenador}" %>
        <% end %>

        <% if !participacao[:ativo] %>
            (ex-participante)
        <% end %>
      </span></li>
    <% end %>
<% end %>