<h1>Aguardando confirmação</h1>

<%= render 'shared/notificacao' %>

Suas informações já foram inseridas no sistema, e aguardam para que um coordenador as confirme. Assim que haja a confirmação,
seu acesso ao sistema será liberado.