<h1>Insira suas próprias informações</h1>

Essas informações serão confirmadas pelos coordenadores. Fornecer informações erradas pode acarretar em perda de acesso e exclusão do sistema.

<hr/>

<%= render 'form', modo: "cadastrar_novo", texto_link: "Inserir" %>