<script src="<%= lista_pessoas_js_path %>"></script>

<script>
	$(function () {
	  listaPessoas = new ListaPessoas($("#lista_pessoas"), "lista_pessoas");
	  listaPessoas.inicializar();
  });
</script>

<%= render_breadcrumbs "pessoas" %>

<h1>Pessoas</h1>

<%= render 'shared/notificacao' %>

<div id="lista_pessoas" style="position: relative;">
  <div class="overlay_carregando overlay_carregando_aparecer_logo">
    <div class="overlay_carregando_fundo"></div>
    <div class="overlay_carregando_texto">
      <span class="img_spinner"></span>
      Carregando...
    </div>
    <br/>
  </div>
</div>