<%= render_breadcrumbs "criar" %>

<%
    if @conjunto.present?
        if @conjunto.tipo == 'Equipe'
            titulo = "Adicionar à equipe #{@conjunto.nome} do encontro #{@conjunto.encontro.nome}"
        elsif @conjunto.tipo == 'CoordenacaoEncontro'
            titulo = "Adicionar à coordenação do encontro #{@conjunto.encontro.nome}"
        else
            titulo = "Adicionar ao #{@conjunto.tipo_do_conjunto} #{@conjunto.nome} do encontro #{@conjunto.encontro.nome}"
        end
    elsif @grupo.present?
        titulo = "Adicionar ao grupo #{@grupo.nome}"
    else
        titulo = "Criar nova pessoa"
    end
%>

<h1><%= titulo %></h1>

<%= render 'form', modo: "criando", texto_link: titulo, foto_grande_pessoa: @foto_grande_pessoa, foto_grande_conjuge: @foto_grande_conjuge %>