<script src="<%= lista_pessoas_js_url %>"></script>

<script>
    var listaPessoas;

    function recarregar(numeroPagina) {
        listaPessoas.carregar(numeroPagina);
    }

    $(function () {
        listaPessoas = new ListaPessoas($("#pessoas_a_confirmar"), "pessoas_a_confirmar");
        listaPessoas.inicializar();
    });
</script>

<%= render_breadcrumbs "confirmar" %>

<h1>Pessoas a confirmar</h1>

Essas pessoas têm participações que podem ser confirmadas por você, em seu papel de coordenador.

<p/>

<div id="pessoas_a_confirmar" style="position: relative;">
  <div class="overlay_carregando overlay_carregando_aparecer_logo">
    <div class="overlay_carregando_fundo"></div>
    <div class="overlay_carregando_texto">
      <span class="img_spinner"></span>
      Carregando...
    </div>
    <br/>
  </div>
</div>