<% if flash[:notice] %>
    <script>
        $(function () {
            mostrarNotificacao();
        });
    </script>
<% end %>

<p class="notificacao" style="display: none;"><%= flash[:notice] %></p>