<% ids_pessoas_ja_mostradas = [] %>

<% pessoas.each do |pessoa| %>

  <% if !ids_pessoas_ja_mostradas.include?(pessoa.id) %>
    <% ids_pessoas_ja_mostradas << pessoa.id %>

    <%
       if tipo_pagina == "pessoas_no_grupo" || tipo_pagina == "pessoas_no_conjunto"
         if tipo_pagina == "pessoas_no_grupo"
            relacionamento = RelacaoPessoaGrupo.where({:pessoa => pessoa, :grupo => grupo}).first
         elsif tipo_pagina == "pessoas_no_conjunto"
            relacionamento = RelacaoPessoaConjunto.where({:pessoa => pessoa, :conjunto_pessoas => conjunto}).first
         end
         eh_coordenador = relacionamento.eh_coordenador
       end
    %>

    <% nome = "#{pessoa.nome_usual}" %>
    <%= image_tag pessoa.url_imagem(30), class: 'imagem_pessoa_lista' %>

    <% if pessoa.conjuge.present? && (forcar_conjuges || pessoas.include?(pessoa.conjuge)) %>
      <% ids_pessoas_ja_mostradas << pessoa.conjuge.id %>
      <%= image_tag pessoa.conjuge.url_imagem(30), class: 'imagem_pessoa_lista' %>
      <% nome = "#{pessoa.nome_usual} / #{pessoa.conjuge.nome_usual}" %>
    <% end %>

    <div class="dados_pessoa">
      <%= link_to nome, mobile_pessoa_path(pessoa) %>
      <% if ((tipo_pagina == "pessoas_no_conjunto" && conjunto.tipo != "CoordenacaoEncontro") || tipo_pagina == "pessoas_no_grupo") && eh_coordenador %>
        - Coord.
      <% end %>

      <br/>

      <span class="telefones">
      <% 
        telefones = []

        if pessoa.whatsapp.present?
          telefones = telefones.concat("#{pessoa.whatsapp} (WhatsApp)")
        end
        telefones.concat(pessoa.telefones.collect{|t| "#{t.telefone} (#{t.operadora})"})

        if pessoa.conjuge.present? && (forcar_conjuges || pessoas.include?(pessoa.conjuge))
          if pessoa.conjuge.whatsapp.present?
            telefones = telefones.concat("#{pessoa.conjuge.whatsapp} (WhatsApp)")
          end
          telefones.concat(pessoa.conjuge.telefones.collect{|t| "#{t.telefone} (#{t.operadora})"})
        end
      %>
      
      <%= telefones.join(" / ") %>
      </span>
    </div>

    <br style="clear: both"/>

  <% end %>

<% end %>