/* Geral
------------------------------------------------------------------------------*/

body {
    font-family: 'Roboto', Verdana;
    font-size: 10pt;
    padding: 0;
    margin: 0;
    background-color: #ddd;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0;
    width: 100%;
}

table.zebra {
    border-bottom: 1px solid #f0f0f0;
}

table.zebra > tr:nth-child(odd),
table.zebra > tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}

th {
    font-weight: normal;
    padding: 2px 10px;
}

td {
    padding: 4px 10px;
}

ul.bullets {
    margin-top: 0;
    padding-top: 0;
    list-style: square;
}

ul.bullets li {
    color: #ddd;
}

ul.bullets li span {
    color: #000;
}

hr {
    border-top: 1px solid #f0f0f0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.faixa_horizontal_com_linha_separadora {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
}

.notificacao {
    padding: 15px 0 15px 60px;
    border: 1px solid #57732f;
    color: #57732f;
    background: url(notificacao.png) no-repeat #d4e9b6;
    background-position: 20px center;
}

.notificacao_atencao {
    padding: 15px 0 15px 60px;
    border: 1px solid #981e1e;
    color: #981e1e;
    background: url(atencao.png) no-repeat #f2a1a1;
    background-position: 20px center;
}

form.espaco_embaixo {
    margin-bottom: 20px;
}

.links_no_titulo h1 {
    display: inline-block;
    margin-right: 10px;
}

.links_no_titulo a {
    margin-right: 10px;
    vertical-align: 2px;
}

.imagem_pessoa_lista {
    height: 30px;
    margin: 0 3px 0 0;
    vertical-align: middle;
}

.carregando_fb {
    color: #fff;
    width: 100px;
    min-height: 50px;
    padding: 10px;
    padding-right: 70px;
    background: url(facebook.png) no-repeat #425691;
    background-position: right 10px center;
}

.carregando_fb:before {
    content: "Carregando...";
}

#links {
    margin-bottom: 20px;
}

.helper {
    color: #ccc;
}

.helper2 {
    color: #aaa;
}

.helper_participacao {
    color: #aaa;
}

.sem_espaco_embaixo {
    margin-bottom: 0;
}

/* Carregando
------------------------------------------------------------------------------*/

.overlay_carregando {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

.overlay_carregando_aparecer_logo {
    display: block !important;
    height: 100px;
    position: relative;
}

.overlay_carregando_fundo {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.9;
    filter: alpha(opacity = 90);
    z-index: 9998;
}

.overlay_carregando_texto {
    position: absolute;
    z-index: 9999;
    padding: 5px;
}

.img_spinner {
    height: 23px;
    width: 23px;
    display: inline-block;
    vertical-align: middle;   
}

/* Formulários
------------------------------------------------------------------------------*/

input[type = text] {
    padding: 5px;
    border: 1px solid #ccc;
}

input[type = submit],
button {
    padding: 5px 10px;
}

.erro_form {
    color: #ff0000;
    display: block;
}

.field {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.block {
    display: block;
}

.actions {
    margin-top: 10px;
    clear: both;
    width: 100%;
    text-align: center;
}

.actions a {
    margin-right: 10px;
}

/* Links especiais
------------------------------------------------------------------------------*/

a.link_facebook {
    color: #3d5cb9;
}

a.link_facebook:hover {
    color: #4e78f6;
}

a.link_novo {
    color: #008d14;
    padding-left: 20px;
    background: url(novo.png) no-repeat;
    background-position: left center;
}

a.link_novo:hover {
    color: #48e05e;
}

a.link_editar {
    color: #634f24;
    padding-left: 20px;
    background: url(editar.png) no-repeat;
    background-position: left center;
}

a.link_editar:hover {
    color: #ae8429;
}

a.link_excluir {
    color: #760000;
    padding-left: 15px;
    background: url(excluir.png) no-repeat;
    background-position: left center;
}

a.link_excluir:hover {
    color: #d41111;
}

a.link_submeter {
    color: #008d14;
    padding-left: 20px;
    background: url(check.png) no-repeat;
    background-position: left center;
}

a.link_submeter:hover {
    color: #48e05e;
}

a.link_upload {
    color: #008d14;
    padding-left: 20px;
    background: url(enviar.png) no-repeat;
    background-position: left center;
}

a.link_upload:hover {
    color: #48e05e;
}

a.link_remover {
    color: #760000;
    padding-left: 20px;
    background: url(remover.png) no-repeat;
    background-position: left center;
}

a.link_remover:hover {
    color: #d41111;
}

a.link_cancelar {
    color: #760000;
    padding-left: 20px;
    background: url(cancelar.png) no-repeat;
    background-position: left center;
}

a.link_cancelar:hover {
    color: #d41111;
}

a.link_encontros {
    padding-left: 22px;
    background: url(encontros.png) no-repeat;
    background-position: left center;
}

a.link_forma_padrao {
    padding-left: 22px;
    background: url(estrutura.png) no-repeat;
    background-position: left center;
}

a.link_ex_participantes {
    padding-left: 22px;
    background: url(ex.png) no-repeat;
    background-position: left center;
}

a.link_buscar {
    color: #3d5cb9;
    padding-left: 20px;
    background: url(procurar_azul.png) no-repeat;
    background-position: left center;
}

a.link_buscar:hover {
    color: #4e78f6;
}

a.link_recomendacoes {
    padding-left: 22px;
    background: url(recomendacoes.png) no-repeat;
    background-position: left center;
}

a.link_relatorio {
    padding-left: 10px;
    background: url(anexo.png) no-repeat;
    background-position: left center;
    font-size: 8pt;
    height: 15px;
    display: inline-block;
}

a.link_carregando, 
a.link_carregando:hover {
    color: #aaa !important;
    cursor: text !important;
    background: none !important;
    padding: 0 !important;
}

a.link_foto_principal {
    color: #008d14;
    padding-left: 20px;
    background: url(foto_principal.png) no-repeat;
    background-position: left center;
}

a.link_foto_principal:hover {
    color: #48e05e;
}

/* Tipos de arquivo
------------------------------------------------------------------------------*/

a.arquivo_word {
    line-height: 30px;
    display: inline-block;
    padding-left: 35px;
    background: url(word.png) no-repeat;
    background-position: left center;
    color: #2e5994;
    margin: 10px;
}

a.arquivo_word:hover {
    color: #0b68e7;
}

a.arquivo_pdf {
    line-height: 30px;
    display: inline-block;
    padding-left: 35px;
    background: url(pdf.png) no-repeat;
    background-position: left center;
    color: #dd6054;
    margin: 10px;
}

a.arquivo_pdf:hover {
    color: #cc3333;
}

/* Paginação
------------------------------------------------------------------------------*/

.pagination {
    font-size: 9pt;
}

.pagination a {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    height: 25px;
}

.pagination a.numeros {
    width: 25px;
}

.pagination .inicio {
    margin-right: 8px;
}

.pagination .final {
    margin-left: 8px;
}

.pagination .gap {
    display: inline-block;
    width: 25px;
    text-align: center;
}

.pagination .pagina_atual {
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 25px;
    text-align: center;
}

.pagination .anterior_proximo {
    float: right;
    color: #ccc;
}

.pagination .anterior_proximo .separador {
    margin: 0 10px;
}

/* Breadcrumbs
------------------------------------------------------------------------------*/

#breadcrumbs {
    font-size: 9pt;
    color: #ccc;
}

#breadcrumbs .separador {
    width: 10px;
    text-align: center;
    display: inline-block;
}

/* Página de Login
------------------------------------------------------------------------------*/

.erro_login {
    margin-bottom: 20px;
}

.link_entrar_pelo_facebook {
    color: #fff;
    width: 400px;
    min-height: 50px;
    padding: 10px;
    padding-right: 70px;
    background: url(/assets/facebook.png) no-repeat #425691;
    background-position: right 10px center;
    margin: auto;
    text-align: left;
    font-size: 10pt;
    font-weight: normal;
    display: inline-block;
}

.link_entrar_pelo_facebook:hover {
    background-color: #3d5cb9;
    color: #fff;
}

.link_entrar_pelo_facebook .imagem_usuario_facebook {
    float: left;
    height: 50px;
    margin-right: 10px;
    display: none;
}

/* Formulário de pessoa
------------------------------------------------------------------------------*/

.imagem_facebook_form {
    clear: both;
    display: block;
    width: 80px;
}

.campo_solteiro_ou_casado {
    clear: both;
    display: block;
}

.imagem_facebook {
    width: 120px;
}

.campos_casado {
    clear: both;
}

.opcoes_conjuge h2 {
    display: inline-block;
    margin-right: 10px;
}

.opcoes_conjuge a {
    margin-right: 10px;
    padding: 5px 10px;
}

.imagem_pessoa_form {
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 0;
    width: 120px;
}

.imagem_form {
    vertical-align: top;
    margin-right: 20px;
    text-align: left;
    margin-bottom: 20px;
    white-space: nowrap;
}

.campos_de_facebook {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.label_tem_facebook {
    display: block;
    margin-bottom: 10px;
}

.ajuda_form_facebook {
    position: absolute;
    top: 30px;
    right: 0;
    background: url(ajuda.png) no-repeat #3d5cb9;
    background-position: 15px 12px;
    color: #fff;
    width: 200px;
    height: 70px;
    padding: 10px;
    padding-left: 40px;
}

.ajuda_form_facebook:hover {
    cursor: pointer;
    background-color: #4e78f6;
}

.ajuda_facebook {
    font-size: 12pt;
    color: #f0f0f0;
    margin-top: 20px;
}

.dialog_ajuda_facebook {
    padding-top: 70px !important;
}

.dialog_ajuda_facebook a:first-child {
    margin-left: 20px;
}

.link_ajuda_facebook_hover,
.link_ajuda_facebook_selecionado {
    background-color: #fff;
}

.dialog_ajuda_facebook img {
    margin-top: 10px;
}

/* Página deslogado
------------------------------------------------------------------------------*/

#faixa_principal {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -200px;
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#faixa_principal_extrapolada {
    width: 120%;
}

.imagens_faixa_principal {
    height: 134px;
    float: left;
    padding: 0;
    margin: 0;
}

#overlay_faixa_principal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 410px;
    z-index: 2;
    opacity: 0.8;
    filter: alpha(opacity = 80); /* For IE8 and earlier */
}

#central_faixa_principal {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    font-size: 11pt;
}

#imagem_noeh_deslogado {
    width: 274px;
    height: 186px;
    display: inline-block;
}

/* Faixa do topo
------------------------------------------------------------------------------*/

#faixa_superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 99998;
}

#area_central_superior {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    font-size: 9pt;
}

#area_superior_direita {
    float: right;
    line-height: 40px;
}

#link_usuario_logado {
    font-weight: normal;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    padding-left: 8px;
    margin-right: 5px;
}

#link_usuario_logado:hover {
    background-color: #96a800;
    color: #fff;
}

#link_usuario_logado img {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

#sair_fb {
    text-decoration: none;
    font-weight: bold;
    padding: 2px 8px;
}

#sair_fb:hover {
    background-color: #d41111;
    color: #fff;
}

#link_logo {
    width: 140px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}

#navegacao {
    display: inline-block;
    margin-right: 20px;
}

#navegacao a {
    text-decoration: none;
    font-weight: normal;
    padding: 2px 8px;
    margin-left: 10px;
}

#navegacao a.atencao {
    color: #fff;
    background-color: #ff0000;
    border: 1px solid #d41111;
}

#navegacao a.atencao:hover {
    background-color: #d41111;
}

#navegacao a.pesquisar_pessoas {
    padding-left: 25px;
    background-image: url(procurar.png); 
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 8px center;
}

/* Submenus no topo
------------------------------------------------------------------------------*/
.tem_submenu {
    position: relative;
    display: inline-block;
}

.tem_submenu > a:hover {
    background-color: #000;
}

.submenu {
    color: #fff;
    background-color: #000;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: normal;
}

.submenu > .conteudo {
    background-color: #000;
    position: absolute;
    top: 40px;
    right: 0px;
    line-height: normal;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.submenu > .conteudo table {
    margin: 0;
    padding: 0;
    border: none;
}

.submenu > .conteudo td {
    padding: 10px;
    text-align: right;
}

.submenu > .conteudo td:first-child {
    padding-right: 0;
}

.submenu > .conteudo td > a {
    line-height: 25px;
    margin-left: 0 !important;
}

/* Conteúdo principal da página centralizado
------------------------------------------------------------------------------*/

#conteudo {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    padding-top: 60px;
    min-height: 400px;
}

/* Rodapé
------------------------------------------------------------------------------*/

#rodape {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ddd;
    color: #999;
    text-align: center;
}

#rodape a {
    font-weight: Normal;
}

/* Páginas de listagens
------------------------------------------------------------------------------*/

.subtitulo_lista_pessoas {
    font-weight: normal;
    font-size: 0.75em;
    color: #777;
}

.subtitulo_lista_pessoas em {
    color: #ff0000;
    font-style: normal;
}

/* Página de listagem de pessoas
------------------------------------------------------------------------------*/

.link_nova_pessoa {
    float: right;
    margin-top: 10px;
}

table.informacoes_pessoa_lista {
    margin: 0;
    padding: 0;
    display: inline-block;
}

table.informacoes_pessoa_lista td {
    margin: 0;
    padding: 0;
}

table.informacoes_pessoa_lista td:first-of-type {
    padding-right: 3px;
}

/* Página de detalhe de pessoas
------------------------------------------------------------------------------*/
.informacoes_pessoa {
    float: left;
}

.informacoes_pessoa img.foto {
    width: 200px;
    margin: 0;
}

.informacoes_pessoa td {
    vertical-align: top;
}

.informacoes_pessoa td:first-of-type {
    width: 200px;
    margin: 0;
    padding: 0;
}

.conjuge_50_50 {
    width: 50%;
}

table.participacoes td {
    vertical-align: middle;
}

table.participacoes tr td:first-of-type {
    padding-left: 10px;
}

table.participacoes tr td:not(:nth-of-type(1)),
table.participacoes tr td:not(:nth-of-type(2)),
table.participacoes tr th:not(:nth-of-type(1)),
table.participacoes tr th:not(:nth-of-type(2)) {
    width: 1px;
}

.sugestao {
    color: #ff0000;
}

.whatsapp {
    color: #57ca00;
    font-weight: bold;
}

/* Página de listagem de grupos
------------------------------------------------------------------------------*/

.link_novo_grupo {
    float: right;
}

/* Página de edição de grupo
------------------------------------------------------------------------------*/

#opcoes_pessoa_grupo h2 {
    display: inline-block;
    margin-right: 10px;
}

#opcoes_pessoa_grupo a {
    margin-right: 10px;
    padding: 5px 10px;
}

#form_pessoa_cadastrada {
    position: relative;
    padding-bottom: 30px;
}

#detalhes_pesquisa_grupo a {
    margin-top: 10px;
    display: inline-block;
}

/* Página de listagem de encontros
------------------------------------------------------------------------------*/

.link_novo_encontro {
    float: right;
}

/* Página de show encontro
------------------------------------------------------------------------------*/
.cor_conjunto_permanente {
    padding: 0 5px;
    font-weight: normal;
}

.link_novo_conjunto,
.editar_coordenadores {
    float: right;
    margin-top: -30px;
}

.titulo_coordenadores {
    margin-top: 0;
}

/* Página de pesquisa pessoas
------------------------------------------------------------------------------*/

.form_parametros_pesquisa_pessoas {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.nome_pesquisa_pessoas {
    width: 300px;
}

.form_pesquisa_pessoas .field .titulo {
    color: #ccc;
}

.contem_opcoes {
    cursor: pointer;
    position: relative;
    font-weight: normal;
}

.contem_opcoes > div {
    display: inline-block;
}

.opcoes {
    margin: 3px 0 10px;
}

table.opcoes_pesquisa {
    margin: 3px 0 0;
    width: auto;
    min-width: 90%;
}

table.opcoes_pesquisa td {
    padding: 0;
}

.contem_opcoes > .opcoes_escolhidas {
    margin-left: 5px;
}