/* Geral
------------------------------------------------------------------------------*/

a {
    color: #f86f05;
}

a:hover {
    color: #b44f00;
}

th {
    background-color: #f86f05;
    color: #fff;
}

.ativo {
    background-color: #f86f05;
    color: #fff;
}

/* Carregando
------------------------------------------------------------------------------*/

.overlay_carregando_texto {
    color: #000;
}

.overlay_carregando_fundo {
    background-color: #f86f05;
}

/* Página deslogado
------------------------------------------------------------------------------*/

body.deslogado {
    background-color: #f86f05;
}

#overlay_faixa_principal {
    background-color: #f86f05;
}

#central_faixa_principal {
    color: #fff;
}

#imagem_noeh_deslogado {
    background-image: url(/assets/noeh_branco.png);
}

/* Faixa do topo
------------------------------------------------------------------------------*/

#faixa_superior {
    background-color: #f86f05;
    color: #fff;
}

#link_usuario_logado {
    background-color: #d35c00;
    color: #fff;
}

#sair_fb {
    color: #f86f05;
    background-color: #fff;
}

#link_logo {
    background-image: url(/assets/noeh25.png);
}

#link_logo:hover {
    background-color: #d35c00;
}

#navegacao a {
    color: #fff;
    background-color: #d35c00;
}

#navegacao a:hover {
    background-color: #a14600;
}

/* Dialog
------------------------------------------------------------------------------*/

#dialog #dialog_overlay {
    background-color: #000;
}

#dialog #dialog_conteudo em {
    color: #f86f05;
}