body {
    font-family: 'Roboto', Helvetica, Arial;
    font-size: 5vmin;
	background-color: #000;
	color: #fff;
    padding: 0;
    margin: 0;
}

a {
    color: #0084ff;
}

h1 {
    margin-top: 0;
    line-height: 1.2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    font-size: 3vmin;
}

table.zebra {
    border-bottom: 1px solid #f0f0f0;
}

table.zebra > tr:nth-child(odd),
table.zebra > tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}

th {
    font-weight: normal;
    background-color: #111111;
    color: #fff;
}

td {
    padding: 0;
}

table.informacoes_pessoa_lista {
    margin: 0;
    padding: 0;
    display: inline-block;
}

table.informacoes_pessoa_lista td {
    margin: 0;
    padding: 0;
}

table.informacoes_pessoa_lista td:first-of-type {
    padding-right: 1vmin;
}

ul.bullets {
    margin-top: 0;
    padding-top: 0;
    list-style: square;
}

ul.bullets li {
    color: #ddd;
}

ul.bullets li span {
    color: #000;
}

.imagem_pessoa_lista {
    height: 10vmin;
    float: left;
}

#imagem_noeh_deslogado img {
    width: 50%;
}

.link_entrar_pelo_facebook {
    color: #fff;
    width: 80%;
    height: 13vmin;
    min-height: 13vmin;
    padding: 2.5vmin;
    padding-right: 12vmin;
    background: url(/assets/facebook.png) no-repeat #425691;
    background-size: 12vmin;
    background-position: right 2.5vmin top 2.5vmin;
    margin: auto;
    text-align: left;
    font-weight: normal;
    display: inline-block;
}

.link_entrar_pelo_facebook:hover {
    background-color: #3d5cb9;
    color: #fff;
}

.link_entrar_pelo_facebook .imagem_usuario_facebook {
    float: left;
    height: 12vmin;
    margin-right: 10px;
    display: none;
}

a.link_entrar_pelo_facebook {
	text-decoration: none;
}

#faixa_superior, 
#faixa_superior_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
}

#faixa_superior {
    background-color: #000;
    z-index: 99998;
}

#faixa_superior a {
    text-decoration: none;
}

.link_usuario_logado {
    background-color: #96a800;
    width: 0.1vmin;
    white-space: nowrap;
    font-weight: bold;
    color: #fff;
    padding: 0;
    padding-left: 1vmin;
    font-size: 4vmin;
}

.link_usuario_logado img {
    height: 10vmin;
    vertical-align: middle;
}

.sair_fb {
    background-color: #d41111;
    width: 0.1vmin;
    font-weight: bold;
    color: #fff;
    padding: 0 1vmin;
    font-size: 4vmin;
}

.link_logo {
    width: 0.1vmin;
}

.link_logo img {
    height: 4vmin;
    padding: 2.5vmin 1vmin 1.5vmin 0;
    display: inline-block;
}

.link_topo {
    cursor: pointer;
}

.filler {
    width: 50%;
}

.link_menu {
    padding: 2vmin;
    cursor: pointer;
}

.link_menu img {
    height: 4vmin;
}

#faixa_superior .link_menu {
    background-color: #fcff00;
}

#menu {
    z-index: 99999;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcff00;
    display: none;
}

#faixa_superior_menu .link_usuario_logado,  
#faixa_superior_menu .sair_fb {
    visibility: hidden;
}

#faixa_superior_menu .link_menu {
    background-color: #000;
}

#menu #conteudo_menu {
    padding: 2vmin;
    padding-top: 14vmin;
    color: #000;
}

#menu #conteudo_menu a {
    color: #000;
}

#menu #conteudo_menu .titulo {
    font-weight: bold;
    display: block;
}

#menu #conteudo_menu input {
    height: 4vmin;
    width: 4vmin;
}

#menu #conteudo_menu #botao_entrar {
    width: 8vmin;
}

#conteudo {
    background-color: #fff;
    color: #000;
    padding: 2vmin;
    padding-top: 14vmin;
    min-height: 100px;
    line-height: 1.3em;
}

#rodape {
    width: 100%;
    margin: 0 auto;
    padding-top: 10vmin;
    padding-bottom: 10vmin;
    background-color: #444;
    color: #999;
    text-align: center;
    font-size: 3vmin;
}

#rodape a {
    font-weight: Normal;
    color: #ccc;
}

.imagem_facebook_detalhe {
    float: left;
    margin: 0 2vmin 2vmin 0;
    height: 20vmin;
}

.dados_pessoa {
    padding-left: 2vmin;
    display: table-cell;
}

.dados_pessoa .telefones {
    font-size: 3vmin;
}