.container_dos_campos_de_pesquisa_por_nome {
    position: relative;
}

.nome_pessoa_pesquisa_por_nome {
    width: 456px;
    padding-left: 35px !important;
    background: url(/assets/procurar.png) no-repeat;
    background-position: 10px center;
}

.nome_pessoa_pesquisa_por_nome.campo_menor {
    width: 306px !important;
}

.resultados_pesquisa_por_nome {
    display: none;
    position: absolute;
    top: 27px;
    left: 0;
    background-color: #bbb;
    z-index: 999;
    width: 500px;
    height: auto;
}

.resultados_pesquisa_por_nome.campo_menor {
    width: 350px !important;
}

.conteudo_resultados_pesquisa_por_nome {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

p.conteudo_resultados_pesquisa_por_nome {
    padding: 10px;
    color: #555;
}

.conteudo_resultados_pesquisa_por_nome li {
    display: block;
    float: none;
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    padding-top: 5px;
}

.conteudo_resultados_pesquisa_por_nome li:not(.carregando):not(.extrapolou):first-of-type {
    padding-top: 0;
}

.conteudo_resultados_pesquisa_por_nome a {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: normal;
    line-height: 80%;
}

.outros_conjuntos {
    font-size: 0.75em;
    color: #ff0000;
}

.conteudo_resultados_pesquisa_por_nome a:hover,
.conteudo_resultados_pesquisa_por_nome a.selecionado {
    background-color: #ccc;
}

.conteudo_resultados_pesquisa_por_nome .carregando,
.conteudo_resultados_pesquisa_por_nome .extrapolou {
    padding: 10px;
}

.imagem_fb_busca {
    float: left;
    height: 30px;
    vertical-align: middle;
}

.conteudo_resultados_pesquisa_por_nome li img.imagem_fb_busca:first-of-type {
    padding-left: 10px;
}

.container_dos_campos_de_pesquisa_por_nome {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.detalhes_pesquisa_por_nome {
    width: 430px;
    display: inline-block;
}

.detalhes_pesquisa_por_nome.campo_menor {
    width: 300px;
}

.imagens_detalhe_pesquisa_por_nome {
    float: left;
    display: inline-block;
    margin: 0 10px 10px 0;
}

img.imagem_detalhe_pesquisa_por_nome {
    margin: 0;
    width: 100px;
    height: 100px;
}

.nome_detalhe_pesquisa_por_nome {
    font-size: 18px;
    display: block;
}

.obs_pessoa_detalhe_pesquisa_por_nome {
    display: block;
    font-size: 0.9em;
}

.obs_detalhe_pesquisa_por_nome {
    color: #ff0000;
}

table.resultado_pesquisa_pessoas_por_nome {
    margin: 0;
    padding: 3px 0;
    border: 0;
    display: inline-block;
}

table.resultado_pesquisa_pessoas_por_nome td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

table.resultado_pesquisa_pessoas_por_nome td:first-of-type {
    padding-right: 10px;
}

.nome_grupo_pesquisa_por_nome {
    font-size: 0.6em;
    text-transform: uppercase;
    background-color: #999;
    color: #fff;
    padding: 0 3px;
    margin: 5px 5px 0 0;
}

.grupos_pesquisa_por_nome > span {
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: #999;
    color: #fff;
    padding: 0 3px;
    margin: 5px 5px 0 0;
}